<nav class="flex justify-between p-2 ">
  <div class="text-cyan-400 text-2xl">FileUploader</div>
  <ul class="flex gap-x-2 text-neutral-100">
      <li>New Folder</li>
      <li><a href="logout">Sign out</a></li>
  </ul>
</nav>
<div class=" w-full border-b-2 border-neutral-700"></div>