<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css">
    <title>Welcome</title>
</head>
<body class="bg-neutral-900">
    <div class="flex flex-col h-screen justify-center items-center gap-y-2 ">
        <h1 class="text-6xl text-neutral-50">Welcome To File Uploader</h1>
        <h2 class="text-neutral-50 italic">Please sign in or sign up</h2>
        <div class="flex gap-x-2 text-neutral-50">
            <a href="/log-in" class="bg-cyan-400 w-24 text-center  text-neutral-900 hover:text-cyan-100 transition-shadow shadow-md shadow-cyan-400/50 hover:shadow-xl hover:shadow-cyan-400/30  px-4 py-2 rounded-full border border-cyan-300 border-2">Log in</a>
            <a href="/sign-up" class="bg-cyan-400 w-24 text-center text-neutral-900 hover:text-cyan-100 transition-shadow shadow-md shadow-cyan-400/50 hover:shadow-xl hover:shadow-cyan-400/30  px-4 py-2 rounded-full border border-cyan-300 border-2">Sign up</a>
        </div>
    </div>
</body>
</html>